<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CureReportBuilder.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CureReportBuilder.My.MySettings>
            <setting name="CureProfilePath" serializeAs="String">
                <value>C:\Users\Will Eagan\Source\repos\CureReportBuilder\CureReportBuilder\Sample Files\Cure Profiles</value>
            </setting>
            <setting name="ReportTemplatePath" serializeAs="String">
                <value>C:\Users\Will Eagan\Source\repos\CureReportBuilder\CureReportBuilder\Sample Files\Cure Report_Template.xlsx</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CureDataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CureParamPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RunInterval" serializeAs="String">
                <value>-1</value>
            </setting>
        </CureReportBuilder.My.MySettings>
    </userSettings>
</configuration>